:root {
  --red: #e63946;
  --very-dark-blue: #1d3557;
  --blue: #457b9d;
  --light-blue: #a8dadc;
  --off-white: #f1faee;
  --gray: #efefef;
  --orange: #ffac33;
  --green: #208e1e;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--light-blue);
}

a:active {
  color: var(--light-blue);
}

p {
  line-height: 1.5;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1;
}

header,
footer {
  font-family: "Inter", sans-serif;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.header-top {
  background-color: var(--blue);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.logo {
  width: 5em;
}

i.menu-open,
i.menu-close {
  display: none;
}

.header-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--red);
  color: var(--off-white);
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  cursor: pointer;
}
.search-icon {
  position: relative;
  color: var(--blue);
  right: 88%;
}

.search-field > input {
  background-color: var(--off-white);
  border: none;
  padding: 8px 8px 8px 30px;
}

.header-bottom {
  display: flex;
  justify-content: center;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  padding: 1em;
}

.header-bottom-nav {
  display: flex;
  gap: 1em;
}

.hero-section > img {
  width: 100%;
  max-height: 574px;
}

.mission-section {
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.mission-title {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

.mission-descript {
  display: flex;
  gap: 2em;
  font-size: 1.75em;
}

.vision-section {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 5em;
}

.vision-title {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

.vision-img {
  flex: 1;
  border-radius: 20px;
  width: 100%;
}

.vision {
  flex: 1;
  font-size: 1.75em;
}

.vision-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5em;
}

.staff-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 5em;
}

.staff-title {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

.staff-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.left-arrow,
.right-arrow {
  font-size: 5em;
  color: var(--blue);
}

.staff-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 60%;
}

.staff-card-img {
  flex: 1;
  width: 100%;
  border-radius: 20px 0 0 20px;
}

.staff-card-info {
  flex: 1;
  /* font-size: 1.75em; */
}
.staff-name {
  font-size: 2em;
  font-weight: 700;
}
.staff-position {
  font-size: 2em;
  font-weight: 400;
}

.staff-descript {
  font-size: 1.5em;
  padding: 2em 2em 0 0;
}

.card-slide-icons {
  font-size: 1em;
  color: var(--blue);
}

footer {
  background-color: var(--blue);
  color: var(--off-white);
  padding: 2em;
}

.copyright {
  text-align: center;
}

@media (max-width: 698px) {
  .search-field {
    display: none;
  }
}

@media (max-width: 539px) {
  .header-top,
  .header-top-nav,
  .header-bottom,
  .header-bottom-nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-top {
    padding: 15px;
  }

  .menu-item {
    display: none;
  }

  i.menu-open {
    display: inline;
  }

  .menu-open,
  .menu-close {
    font-size: 1.75em;
    cursor: pointer;
    position: relative;
    left: 92%;
    top: -32px;
  }

  .menu-open:hover,
  .menu-close:hover {
    color: var(--light-blue);
  }

  i.menu-close {
    display: none;
  }
}
