:root {
  --red: #e63946;
  --very-dark-blue: #1d3557;
  --blue: #457b9d;
  --light-blue: #a8dadc;
  --off-white: #f1faee;
  --gray: #efefef;
  --dark-gray: #d9d9d9;
  --orange: #ffac33;
  --green: #208e1e;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--light-blue);
}

a:active {
  color: var(--light-blue);
}

p {
  line-height: 1.5;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1;
}

header,
footer {
  font-family: "Inter", sans-serif;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.header-top {
  background-color: var(--blue);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.logo {
  width: 5em;
}

i.menu-open,
i.menu-close {
  display: none;
}

.header-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--red);
  color: var(--off-white);
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}
.search-icon {
  position: relative;
  color: var(--blue);
  right: 88%;
}

.search-field > input {
  background-color: var(--off-white);
  border: none;
  padding: 8px 8px 8px 30px;
}

.header-bottom {
  display: flex;
  justify-content: center;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  padding: 1em;
}

.header-bottom-nav {
  display: flex;
  gap: 1em;
}

.hero-section {
  background: linear-gradient(
      to top,
      rgba(29, 53, 87, 0.85),
      rgba(29, 53, 87, 0.85)
    ),
    url(../images/register.png) top center no-repeat;
  background-size: cover;
  color: var(--off-white);
  display: flex;
  justify-content: center;
  padding: 5em;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 5em;
}

.hero-content > h1 {
  font-size: 2.75em;
  font-weight: 800;
  text-align: center;
  line-height: 1.25;
}

.hero-content > h2 {
  font-size: 2em;
  text-align: center;
  line-height: 1;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}
form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 1em;
}

.edit-icon {
  align-self: flex-end;
}

.form-row {
  display: flex;
  gap: 1.5em;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  padding: 2px 0;
}
input {
  background-color: #f8f8f8;
  border: 1px solid var(--dark-gray);
  padding: 1em 6em;
}

.form-col-right {
  align-self: flex-end;
}
hr {
  color: var(--dark-gray);
  margin: 3em 0;
}
.form-confirm {
  display: flex;
  align-items: center;
  gap: 1em;
}

.save-btn {
  margin-left: 5em;
  padding: 1em 4em;
}
.favorite-books-section,
.checkout-history-section {
  padding: 5em 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favorite-books-section-title,
.checkout-history-section-title {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2em;
}
.favorite-books-content,
.checkout-history-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.favorite-books-info,
.checkout-history-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 1em 3em;
  gap: 3em;
}
.favorite-books-info > img,
.checkout-history-info > img {
  width: 60px;
}
.rating-star {
  color: var(--orange);
}

footer {
  background-color: var(--blue);
  color: var(--off-white);
  padding: 2em;
}

.copyright {
  text-align: center;
}

@media (max-width: 698px) {
  .search-field {
    display: none;
  }
}

@media (max-width: 539px) {
  .header-top,
  .header-top-nav,
  .header-bottom,
  .header-bottom-nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-top {
    padding: 15px;
  }

  .menu-item {
    display: none;
  }

  i.menu-open {
    display: inline;
  }

  .menu-open,
  .menu-close {
    font-size: 1.75em;
    cursor: pointer;
    position: relative;
    left: 92%;
    top: -32px;
  }

  .menu-open:hover,
  .menu-close:hover {
    color: var(--light-blue);
  }

  i.menu-close {
    display: none;
  }
}
