:root {
  --red: #e63946;
  --very-dark-blue: #1d3557;
  --blue: #457b9d;
  --light-blue: #a8dadc;
  --off-white: #f1faee;
  --gray: #efefef;
  --dark-gray: #d9d9d9;
  --orange: #ffac33;
  --green: #208e1e;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--light-blue);
}

a:active {
  color: var(--light-blue);
}

p {
  line-height: 1.5;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1;
}

header,
footer {
  font-family: "Inter", sans-serif;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.header-top {
  background-color: var(--blue);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.logo {
  width: 5em;
}

i.menu-open,
i.menu-close {
  display: none;
}

.header-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--red);
  color: var(--off-white);
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  cursor: pointer;
}
.search-icon {
  position: relative;
  color: var(--blue);
  right: 220px;
}

.search-field > input {
  background-color: var(--off-white);
  border: none;
  padding: 8px 8px 8px 30px;
}

.header-bottom {
  display: flex;
  justify-content: center;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  padding: 1em;
}

.header-bottom-nav {
  display: flex;
  gap: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.search-section-input {
  padding: 1em 40em 1em 1em;
}

.icon-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: relative;
  right: 15%;
  color: var(--blue);
}

.favorites-section,
.movies-section,
.arrivals-section,
.resources-section {
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorites-section-title,
.movies-section-title,
.arrivals-section-title,
.resources-section-title {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2em;
}

.favorites-section-content,
.movies-section-content,
.arrivals-section-content,
.resources-section-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2em;
}
.view-all {
  align-self: flex-end;
  padding-right: 3em;
}

hr {
  width: 75%;
  color: var(--dark-gray);
}

.section-row {
  display: flex;
  align-items: center;
  justify-items: center;
}
.left-arrow,
.right-arrow {
  font-size: 5em;
  color: var(--blue);
}
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  padding: 2em;
  background-color: var(--gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.category-card > img {
  width: 100%;
  height: auto;
}

.in-stock {
  background-color: var(--green);
  color: var(--off-white);
  padding: 2px;
}

.resources-section {
  margin-bottom: 3em;
}

.resource-btn {
  font-size: 1.25em;
  font-weight: 500;
  background-color: var(--dark-gray);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 15px;
  padding: 1em 4em;
  flex: 1;
}

footer {
  background-color: var(--blue);
  color: var(--off-white);
  padding: 2em;
}

.copyright {
  text-align: center;
}

@media (max-width: 1200px) {
  .events-section {
    flex-wrap: wrap;
  }
}

@media (max-width: 698px) {
  .search-field {
    display: none;
  }
  .events-slide-info {
    bottom: 0px;
    margin-top: 15px;
  }
  .streams-imgs {
    flex-wrap: wrap;
  }
}

@media (max-width: 539px) {
  .search-btn,
  .club-btn {
    width: 220px;
  }

  .header-top,
  .header-top-nav,
  .header-bottom,
  .header-bottom-nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-top {
    padding: 15px;
  }

  .menu-item {
    display: none;
  }

  i.menu-open {
    display: inline;
  }

  .menu-open,
  .menu-close {
    font-size: 1.75em;
    cursor: pointer;
    position: relative;
    left: 92%;
    top: -32px;
  }

  .menu-open:hover,
  .menu-close:hover {
    color: var(--light-blue);
  }

  i.menu-close {
    display: none;
  }
}
